<div class="content" role="main">
  <div class="card-container">
    <div class="login" *ngIf="loginForm" >
      <h1>Login</h1>
      <form name="loginForm" [formGroup]="loginForm" *ngIf="loginForm">
        <input type="text" formControlName="userName" placeholder="Username" required="required" />
        <input type="password" formControlName="passWord" placeholder="Password" required="required" />
        <button type="button" (click)="loginMethod();" class="btn btn-primary btn-block btn-large">Log In</button>
        <div class="error text-danger" style='font-size:12px;' *ngIf="(loginForm  && loginForm.invalid && ((loginForm.get('userName').touched && loginForm.get('userName').invalid) || (loginForm.get('passWord').touched && loginForm.get('passWord').invalid))) || showError">
            Please Enter Valid Username & Password <br>
            Hint : admin , admin
        </div>
      </form>

      <div class="nav-link">Don't have an account? 
         <a  [routerLink]="'/signup'">Sign UP</a>
         <div>
           <a href="#">Forgot your password?</a> 
         </div>
      </div>

    </div>
  </div>
  
</div>